@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	color: #F1F1F1;
}

body {
	background-color: #121212;
}

.link {
	text-decoration: none;
	color: #2FA1C6;
	font-family: Roboto, sans-serif;
	font-weight: medium;
}

.header {
	height: 72px;
	/*border-bottom: 2px solid #AA32A5;
	box-shadow: 0 5px 5px 0px #71006C;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: sticky;
	background-color: #282828;
	margin-bottom: 20px;
	box-shadow: 0 2px 10px 0 #000;
}

/*.logo {
	display: flex;
	align-items: center;

}
*/
.logo {
	width: 64px;
	height: 64px;
	position: fixed;
	border-radius: 30%;
	/*border: 2px solid #71006C;*/
	margin: -33px 0 0 55px;
}

.logo:hover {
	box-shadow: 0 0 4px 1px #AA32A5;
	transition: 0.2s;
}

.logo-text {
	font-size: 40px;
	font-family: Modak;
	font-style: italic;
	text-decoration: none;
	color: #F1F1F1;
/*	border-bottom: 2px solid #71006C;
	border-top: 2px solid #71006C;*/
	/*margin-left: 30px;*/
	margin: 0 auto;
}

.main {
	width: 80%;
	height: 85vh;
	margin: 0 auto;
	background-color: #282828;
	border-radius: 5px;
	box-shadow: 0 2px 10px 0 #000;
}

.categories {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.categorie-container {
	width: 300px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.categorie-container span {
	display: inline-block;
	width: 180px;
	margin-top: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #F4F4F4;
	/*border-bottom: 2px solid #282828;*/
	/*box-shadow: 0 -2px #E5E5E5;*/
	/*background-color: #fff;*/
	padding: 4px 0;
	/*border-radius: 10px;*/
}

.categorie-container span:after {
	width: 100px;
	height: 2px;
	background-color: #282828;
}

.categorie-container-invest {
	
}

.categorie-container-psy {

}

.categorie-container-selfmotivation {

}

.categorie {
	width: 160px;
	height: 160px;
	background-color: #fff;
	border-radius: 5px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 1px 3px 1px #000;
}

.overlay {
	background-color: #000;
	opacity: 0.6;
}

.categorie:hover {
	box-shadow: 0 2px 5px 2px #000;
	transition: 0.2s;
}

.overlay:hover {
	opacity: 0.9;
	transition: 0.2s;
}

.categorie-invest {
	background: url(img/briefcase.png) no-repeat;
	background-size: 160px;
	background-position: center 15px;
	background-color: #fff;
}

.categorie-psy {
	background: url(img/psychology.png) no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #fff;
}

.categorie-selfmotivation {
	background: url(img/selfmotivation.png) no-repeat;
	background-size: 110px;
	background-position: center;
	background-color: #fff;
}

.categorie-coding {
	background: url(img/coding.png) no-repeat;
	background-size: 150px;
	background-position: center;
	background-color: #fff;
}

ol {
	margin: 20px 20px 0;
}

